@tailwind base;
@tailwind components;
@tailwind utilities;

.use-spring-carousel-thumbs-wrapper {
  gap: 8px;
  margin-top: 25px;
  display: flex;
}
/* .thumb-item {
  border-radius: 5px;
  opacity: 0.2;
  background: #1d2023;
  height: 4px;
  flex: 1;
  max-width: 117px;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.375);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat-suggestions-title {
  background: linear-gradient(90deg, #cf8d7c 0.32%, #a5b37d 30.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-suggestions-title {
  background: linear-gradient(90deg, #cf8d7c 0.32%, #a5b37d 30.7%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-suggestions-title-v2 {
  background: linear-gradient(90deg, #b1c37f -0.16%, #6e8c7a 35.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-suggestions-title-v3 {
  background: linear-gradient(90deg, #6e8c7a 1.95%, rgba(133, 220, 210, 0.63) 57.65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.tab-icon-active {
  filter: invert(51%) sepia(66%) saturate(444%) hue-rotate(99deg) brightness(89%) contrast(88%);
}
.ql-container.ql-snow {
  border: none !important;
}
.ql-toolbar.ql-snow {
  border: none !important;
  border-top: 1px solid #f2f3f7 !important;
  border-bottom: 1px solid #f2f3f7 !important;
}
.quill {
  height: calc(100vh - 240px) !important;
}
.draft-editor [contenteditable="true"]:focus {
  outline: none;
}
.draft-editor::-webkit-scrollbar {
  width: 5px;
}
code {
  background-color: rgba(97, 97, 97, 0.1);
  box-decoration-break: clone;
  color: #616161;
  font-size: 0.9rem;
  padding: 0.25em;
}
blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}
.draft-editor ul,
ol {
  list-style: revert !important;
  margin: revert !important;
  padding: revert !important;
}
.draft-editor table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
.draft-editor td,
th {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}
.draft-editor th {
  background-color: #f1f3f5;
  font-weight: bold;
  text-align: left;
}
.draft-editor .selectedCell:after {
  background: rgba(200, 200, 255, 0.4);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.draft-editor .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}
.draft-editor h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert !important;
  font-weight: revert !important;
}
.draft-editor a {
  color: #0070e5;
  text-decoration: underline;
  cursor: pointer;
}
.draft-editor-menu .is-active {
  background: #e9effe;
  padding: 2px;
  border-radius: 2px;
}
.draft-editor-menu button:disabled {
  background: #6e778215;
  opacity: 0.5;
}
div[role="toolbar"] {
  background-color: #fff;
  border-color: #7f8c9959;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.chat-markdown p {
  margin: 20px 0 !important;
}
.chat-markdown li {
  margin: 20px 0 !important;
}
